@charset "UTF-8";


@media screen and (max-width: 830px) {

    body {
        width: 90vw;
    }

    main.main-slide-form {
        margin: 0;
    }

    section.slider-area {
        display: none !important;
    }

    section.login-box-section {
        margin-left: -200px;

    }

    .form-login {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
    }

    .login {
        width: 300px;
        
    }


    .footer-row {
        margin-top: 0 !important;
        padding: 0 !important;
    }
    
    hr.mt-5 {
        margin-top: 0 !important;
    }
}