@charset "UTF-8";

:root {
    --slide-text: #4270a1;
    --border-btn: #3b638f;;
    --font-slide-color: #666;
    --font-login-color: #999;
}

* {
    box-sizing: border-box;
}

body {
    width: 97vw;
}

.main-slide-form {
    margin-top: 110px;
}


.slider-area {
    height: 500px;
    margin-right: 20px;
    width: 400px;
}

.slider-area-div {
    height: 500px;
    width: 400px;
}

.slide-img {
    width: 100%;
    height: auto;
}



.slide-text {
    background-color: var(--slide-text);
    color: var(--font-slide-color);
    font-size: 12px;
    width: 400px;
    padding: 20px;
    min-height: 138px;
}

.slide-text h2 {
    font-size: 26px;
    text-transform: uppercase;
}


.login-box, .form-login {
    width: 400px;
}

.form-login h2 {
    font-size: 23px;
    font-weight: normal;
    text-transform: uppercase;
}

.form-login {
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 20px 20px 20px;
    height: 445px;
}

.login {
    position: absolute;
    width: 355px;
    top: 50%;
    transform: translateY(-50%);
}

.login ul {
    list-style: none;
    position: relative;
    display: block;
    
}

.login li input, .login li btn {
    margin-bottom: 20px;
    width: 355px;
}

.login input {
    height: 44px;
    box-shadow: 0 1px 1px #ccc inset;
    color: #bbb;
    border: 1px solid #ccc;
    padding: 10px;
    line-height: 22px;
}


.btn {
    background-color: var(--slide-text);
    border-color: var(--border-btn);
    width: 100%;
    height: 26px;
    border-radius: 0;
}

.login-links {
    margin-bottom: 20px;
}

.login span a{
    color: var(--font-login-color);
    text-decoration: none;
    width: 160px;
    height: 38;
    font-size: 15px;
}

.login span a:hover {
    text-decoration: underline;
}

